<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        #main-container {
            width: 100%;
            min-height: 100vh;
			height: auto;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 7% 90% 4%;
        }

		nav {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		#content {
			width: 100%;
			grid-column: 1/2;
			grid-row: 2/3;
			border: 1px solid black;
		}

		footer {
			grid-column: 1/2;
			grid-row: 3/4;
		}

    </style>

</head>
<body>
    
	<div id="main-container">

		<!-- navbar section -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">CompanySys</a>			
		</nav>

		<div id="content">
			@RenderBody()
		</div>

		
		<footer>
			<hr />
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
